.group {
  --viewport-item-gap: var(--space-lg-2x);

  align-items: stretch;
  justify-content: center;
  gap: var(--viewport-item-gap);
  padding-inline: var(--space-md);
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm);
}

.item + .item::before {
  position: absolute;
  inset-block: 25%;
  left: calc(var(--viewport-item-gap) / -2);
  width: 1px;
  background: var(--ui-border);
  pointer-events: none;
  content: "";
}
